body {
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.about {
    background-color: lightblue;
    padding: 0px;
}

.projects {
    background-color: orange;
    padding: 10px;
}
