body {
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.about {
    background-color: lightblue;
    padding: 0px;
}

.projects {
    background-color: orange;
    padding: 10px;
}

.project-content {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 45px 50px 50px 50px;
}

.project-thumbnail {
    display: inline-block;
    height: 256px;
}
