body {
    text-align: center;
    margin: 0px;
    font-family: "Grandstander";
}

.about {
    background-color: Blue;
    padding: 0px;
}

.projects {
    background-color: Royalblue;
    padding: 10px;
}
